In [4]:
use pizzadata

<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);"><b>KPIâ€™s</b></span>

<span style="color: #09885a;">1</span>. Total Revenue:

In [5]:

SELECT SUM(total_price) AS Total_Revenue FROM pizza_sales;

Total_Revenue
817860.049999993

2.Average Order Value

In [6]:
SELECT (SUM(total_price) / COUNT(DISTINCT order_id)) AS Avg_order_Value FROM pizza_sales

Avg_order_Value
38.307262295081664

<span style="color: #09885a;">3</span>. Total Pizzas Sold

In [7]:
SELECT SUM(quantity) AS Total_pizza_sold FROM pizza_sales

Total_pizza_sold
49574

<span style="color: #09885a;">4</span>. Total Orders

In [8]:
SELECT COUNT(DISTINCT order_id) AS Total_Orders FROM pizza_sales

Total_Orders
21350

<span style="color: #09885a;">5</span>. Average Pizzas Per <span style="color: #0000ff;">Order</span>

In [9]:
SELECT CAST(CAST(SUM(quantity) AS DECIMAL(10,2)) / 
CAST(COUNT(DISTINCT order_id) AS DECIMAL(10,2)) AS DECIMAL(10,2))
AS Avg_Pizzas_per_order
FROM pizza_sales

Avg_Pizzas_per_order
2.32

**Hourly Trend <span style="color: #0000ff;">for</span> Total Pizzas Sold**

In [10]:
SELECT DATEPART(HOUR, order_time) as order_hours, SUM(quantity) as total_pizzas_sold
from pizza_sales
group by DATEPART(HOUR, order_time)
order by DATEPART(HOUR, order_time)

order_hours,total_pizzas_sold
9,4
10,18
11,2728
12,6776
13,6413
14,3613
15,3216
16,4239
17,5211
18,5417
19,4406
20,3534
21,2545
22,1386
23,68

**Weekly Trend <span style="color: #0000ff;">for</span> Orders**

In [11]:
SELECT 
    DATEPART(ISO_WEEK, order_date) AS WeekNumber,
    YEAR(order_date) AS Year,
    COUNT(DISTINCT order_id) AS Total_orders
FROM 
    pizza_sales
GROUP BY 
    DATEPART(ISO_WEEK, order_date),
    YEAR(order_date)
ORDER BY 
    Year, WeekNumber;

WeekNumber,Year,Total_orders
1,2015,254
2,2015,427
3,2015,400
4,2015,415
5,2015,436
6,2015,422
7,2015,423
8,2015,393
9,2015,409
10,2015,420
11,2015,404
12,2015,416
13,2015,427
14,2015,433
15,2015,408
16,2015,414
17,2015,437
18,2015,423
19,2015,399
20,2015,458
21,2015,414
22,2015,390
23,2015,423
24,2015,418
25,2015,410
26,2015,416
27,2015,474
28,2015,417
29,2015,420
30,2015,433
31,2015,419
32,2015,426
33,2015,435
34,2015,407
35,2015,394
36,2015,397
37,2015,435
38,2015,423
39,2015,288
40,2015,433
41,2015,334
42,2015,386
43,2015,352
44,2015,371
45,2015,394
46,2015,400
47,2015,392
48,2015,491
49,2015,424
50,2015,417
51,2015,430
52,2015,298
53,2015,171

**% <span style="color: #0000ff;">of</span> Sales <span style="color: #0000ff;">by</span> Pizza Category**

In [12]:
SELECT pizza_category, CAST(SUM(total_price) AS DECIMAL(10,2)) as total_revenue,
CAST(SUM(total_price) * 100 / (SELECT SUM(total_price) from pizza_sales) AS DECIMAL(10,2)) AS PCT
FROM pizza_sales
GROUP BY pizza_category
Output

: Msg 102, Level 15, State 1, Line 5
Incorrect syntax near 'Output'.

**<mark>% <span style="color: #0000ff;">of</span> Sales <span style="color: #0000ff;">by</span> Pizza <span style="color: #0000ff;">Size</span></mark>**

In [13]:
SELECT pizza_size, CAST(SUM(total_price) AS DECIMAL(10,2)) as total_revenue,
CAST(SUM(total_price) * 100 / (SELECT SUM(total_price) from pizza_sales) AS DECIMAL(10,2)) AS PCT
FROM pizza_sales
GROUP BY pizza_size
ORDER BY pizza_size

pizza_size,total_revenue,PCT
L,375318.70,45.89
M,249382.25,30.49
S,178076.50,21.77
XL,14076.00,1.72
XXL,1006.60,0.12

**Total Pizzas Sold by Pizza Category**

In [15]:
SELECT pizza_category, SUM(quantity) as Total_Quantity_Sold
FROM pizza_sales
WHERE MONTH(order_date) = 2
GROUP BY pizza_category
ORDER BY Total_Quantity_Sold DESC

pizza_category,Total_Quantity_Sold
Classic,1178
Supreme,964
Veggie,944
Chicken,875

Top 5 Pizzas by Revenue

In [16]:
SELECT Top 5 pizza_name, SUM(total_price) AS Total_Revenue
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Revenue DESC

pizza_name,Total_Revenue
The Thai Chicken Pizza,43434.25
The Barbecue Chicken Pizza,42768
The California Chicken Pizza,41409.5
The Classic Deluxe Pizza,38180.5
The Spicy Italian Pizza,34831.25

Bottom 5 Pizzas by Revenue

In [17]:
SELECT Top 5 pizza_name, SUM(total_price) AS Total_Revenue
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Revenue ASC

pizza_name,Total_Revenue
The Brie Carre Pizza,11588.4999999999
The Green Garden Pizza,13955.75
The Spinach Supreme Pizza,15277.75
The Mediterranean Pizza,15360.5
The Spinach Pesto Pizza,15596

Top 5 Pizzas by Quantity

In [18]:
SELECT Top 5 pizza_name, SUM(quantity) AS Total_Pizza_Sold
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Pizza_Sold DESC

pizza_name,Total_Pizza_Sold
The Classic Deluxe Pizza,2453
The Barbecue Chicken Pizza,2432
The Hawaiian Pizza,2422
The Pepperoni Pizza,2418
The Thai Chicken Pizza,2371

Bottom 5 Pizzas by Quantity

In [19]:
SELECT TOP 5 pizza_name, SUM(quantity) AS Total_Pizza_Sold
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Pizza_Sold ASC

pizza_name,Total_Pizza_Sold
The Brie Carre Pizza,490
The Mediterranean Pizza,934
The Calabrese Pizza,937
The Spinach Supreme Pizza,950
The Soppressata Pizza,961

 Top 5 Pizzas by Total Orders

In [20]:
SELECT Top 5 pizza_name, COUNT(DISTINCT order_id) AS Total_Orders
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Orders DESC

pizza_name,Total_Orders
The Classic Deluxe Pizza,2329
The Hawaiian Pizza,2280
The Pepperoni Pizza,2278
The Barbecue Chicken Pizza,2273
The Thai Chicken Pizza,2225

 Borrom 5 Pizzas by Total Orders

In [21]:
SELECT Top 5 pizza_name, COUNT(DISTINCT order_id) AS Total_Orders
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Orders ASC

pizza_name,Total_Orders
The Brie Carre Pizza,480
The Mediterranean Pizza,912
The Calabrese Pizza,918
The Spinach Supreme Pizza,918
The Chicken Pesto Pizza,938

NOTE :If you want to apply the pizza\_category or pizza\_size filters to the above queries you can use WHERE clause. Follow some of below examples

In [22]:
SELECT Top 5 pizza_name, COUNT(DISTINCT order_id) AS Total_Orders
FROM pizza_sales
WHERE pizza_category = 'Classic'
GROUP BY pizza_name
ORDER BY Total_Orders ASC

pizza_name,Total_Orders
"The Pepperoni, Mushroom, and Peppers Pizza",1316
The Greek Pizza,1361
The Italian Capocollo Pizza,1380
The Napolitana Pizza,1421
The Big Meat Pizza,1811